{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книги</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <form action="{% url 'search' %}" method="GET" style="text-align: center; margin: 20px 0;">
        <input
            type="search"
            name="s"
            placeholder="Введите название..."
            style="padding: 8px 12px; width: 250px; border-radius: 8px; border: 1px solid #aaa;"
        >
        <button
            type="submit"
            style="padding: 8px 12px; border-radius: 8px; border: none; color: white; cursor: pointer;"
        >
            Поиск
        </button>
    </form>
    
    <h1>Все книги</h1>
    <ul>
        <!-- Цикл вставить тут -->
        {% for i in book %}
        <li>
            <img src="{{ i.image.url }}" alt="" width="450" height="400">
            <h2>{{ i.title }}</h2>
            <a href="/book_list/{{ i.id }}/">Подробнее</a>
        </li>
        <hr>
        {% endfor %}
        <!-- Цикл закрыть тут -->

    </ul>
    {% include 'footer.html' %}
</body>
</html>